:root {
    --primary: #ffffaa;
    --secondary: #ffffee;
}

html {
    font-size: 16px;
    font-family: "Share Tech Mono", monospace;
    background: black;
    color:var(--primary);
}

body {
    margin: 10px auto;
    max-width: 1200px;
}

header {
    box-shadow: var(--primary) 0 0 6px 1px;
    background-color:black;
    overflow: hidden;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    border: double 5px var(--primary);
    border-bottom: solid 5px var(--primary);
    border-right: solid 5px var(--primary);
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "left right";
}

strong {
    color:var(--secondary);
}

h2 {
    color: var(--secondary);
    text-shadow: 0 0 2px var(--secondary);
    font-weight: normal;
}

h3 {
    color:var(--secondary);
    text-shadow: 0 0 2px var(--secondary);
    font-weight: normal;
}

a {
    color:var(--secondary);
}

a:hover{
    color:var(--secondary);
    text-shadow: 0 0 2px var(--secondary);
}
.stdlist {
    list-style-type: "> ";
    li {
        padding: 5px;
    }
}

.navtitle {
    /*font-family: 'Courier New', Courier, monospace;*/
    font-weight: normal;
    color:var(--secondary);
    text-shadow: 0 0 10px var(--secondary);
    font-size: 50px;
    margin: 10;
    overflow:hidden;
    width:max-content;
    display:flex;
    justify-content:left;
    border-right: solid 3px transparent;
    white-space: nowrap;
    animation:
        type 1.8s steps(20,end),cursor .5s;
}

@keyframes type{
    from{width:0}
    to {width:600px}
}

@keyframes cursor{
    from, to{border-color:transparent}
    50%{border-color:var(--secondary)}
}

nav {
    box-shadow: var(--primary) 0 0 6px 1px;
    background-color:black;
    overflow: hidden;
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;*/
    /*display:flex;
    padding: 10px;
    align-items: flex-start;
    flex-direction: column;*/
    padding: 10px;
    margin-bottom: 30px;
    border: double 5px var(--primary);
    border-bottom: solid 5px var(--primary);
    border-right: solid 5px var(--primary);
}

.navlinks {
    font-size: 20px;
    margin-top:7;
    padding-left:100px;
    width: fit-content;
    flex-direction: column;
    display:flex;
    text-wrap: nowrap;
    list-style-type: "> ";
    li {
        padding: 10px;
        a {
            color:var(--primary);
        }
        a:hover{
            color:var(--secondary);
            text-shadow:0 0 2px var(--secondary);
        }
    }
    .currentnav {
        /*box-shadow: var(--primary) 0 0 3px 2px;*/
        list-style-type: "curr >>> ";
        a {
            color:white;
            /*border-left-style: double;
            border-right-style: double;
            border-color:white;*/
        }
        a:hover{
            color:white;
            text-shadow:0 0 2px white;
        }
    }
}

.navline {
    margin: 3px;
}

.bascii {
    margin:10px;
    color:var(--secondary);
    text-shadow: 0 0 4px var(--secondary);
}

#main {
    display:flex;
    align-items: center;
    flex-direction:column;
    padding: 40px;
}

.gap {
    padding: 20px;
}

.box {
    width:90%;
    background:black;
    box-shadow: var(--primary) 0 0 3px 2px;
    border: double 5px var(--primary);
    height: fit-content;
    margin: 15px;
}

.navbox {
    width:40%;
    background:black;
    box-shadow: var(--primary) 0 0 3px 2px;
    border: double 5px var(--primary);
    height: fit-content;
}

.boxhead {
    color: var(--secondary);
    padding:6px;
    padding-left: 10px;
    padding-right:10px;
    margin:0px;
    border-bottom: solid 1px var(--primary);
    flex-direction: row;
    display:flex;
    justify-content: space-between;
    list-style:none;
    font-weight: bold;
}

.boxbody {
    padding: 16px;
    margin: 0px;
}